.form__edit-form {
  max-width: 358px;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin-left: 36px;
  padding-top: 111px;
}

@media screen and (max-width: 462px) {
  .form__edit-form {
    margin: 0 auto;
    max-width: 238px;
    padding-top: 122px;
  }
}
