.form__edit {
  box-sizing: content-box;
  width: 83.25%;
  border: 0;
  padding: 34px 36px 37px;
}
.form__edit:last-of-type {
  margin: 0;
}

@media (max-width: 580px) {
  .form__edit {
    padding: 25px 22px;
  }
}
