.profile {
  display: flex;
  align-items: center;
  margin: 37px auto 48px;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .profile {
    max-width: 85%;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .profile {
    flex-direction: column;
    margin: 39px auto 36px;
    padding: 0;
  }
}
