.element__button-trash {
  position: relative;
  background-image: url(../../../../images/Trash.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 18px;
  height: 20px;
  top: 20px;
  left: 244px;
  cursor: pointer;
}
