.element__button-like {
  background-image: url(../../../../images/like.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 22px;
  height: 19px;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: auto 0;
  background-color: transparent;
  margin-right: 4px;
}

.element__button-like:hover {
  opacity: 0.5;
}
.element__button-like:active {
  background-image: url(../../../../images/like-black.svg);
}
