.popup__close-button {
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100%;
  min-width: 32px;
  min-height: 32px;
  cursor: pointer;
  border: none;
  padding: 0;
  right: -40px;
  top: -40px;
  position: absolute;
}
.popup__close-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 580px) {
  .popup__close-button {
    right: 0;
    top: -50px;
  }
}

@media screen and (max-width: 462px) {
  .popup__close-button {
    min-width: 20px;
    min-height: 20px;
    right: 0;
    top: -36px;
  }
}
