.popup__close-icon {
  cursor: pointer;
  opacity: 1;
}
.popup_close-icon:hover {
  opacity: 80%;
}
@media (max-width: 580px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
