.profile__info {
  color: white;
  flex: auto;
  margin-left: 30px;
  display: grid;
  grid-template-columns: auto 1fr;
}
@media (max-width: 1020px) {
  .profile__info {
    margin-top: 22.25px;
    margin-bottom: 36px;
  }
}
