.elements__group {
  max-width: 880px;
  margin: 51px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
}

@media (max-width: 1080px) {
  .elements__group {
    justify-items: center;
  }
}

@media (max-width: 870px) {
  .elements__group {
    align-content: space-evenly;
  }
}

@media (max-width: 700px) {
  .elements__group {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 320px) {
  .elements__group {
    margin: 36px 19px 48px 19px;
    gap: 21px;
  }
}
