.form__submit_places {
  width: 100%;
  height: 50px;
  margin-bottom: 0;
  border-radius: 2px;
  font-family: inherit;
  box-sizing: border-box;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: #000000;
  cursor: pointer;
  color: white;
  opacity: 1;
  transition: opacity 0.3s linear;
}
@media (max-width: 580px) {
  .form__submit_places {
    margin-top: -10px;
    height: 46px;
    font-size: 14px;
    line-height: 16.94px;
  }
}

.form__submit_places:hover {
  opacity: 80%;
}
