.footer {
  max-width: 880px;
  margin: auto;
  margin-top: 67px;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 581px;
  }
}
@media screen and (max-width: 580px) {
  .footer {
    max-width: 282px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
