.popup__title {
  color: #000000;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  position: absolute;
  z-index: 1;
  margin-top: 34px;
  margin-left: 36px;
}
@media screen and (max-width: 462px) {
  .popup__title {
    margin-top: 25px;
    margin-left: 22px;
    font-size: 18px;
    line-height: 1.22;
  }
}
